html,
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
}
